@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.wrapper-header {
    background-color: white;
}

.containerr {
    max-width: 1400px;
    margin: auto;
}
body {
    background: #f6f5f5;
    font-family: 'RobotoRegular', sans-serif;
}
.navigation-block {
    background: #fff;
}
.navigation {
    height: 80px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.navigation-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}
.language {
    display: flex;
    align-items: center;
}
.navigation-button-container {
    margin-left: 30px;
}
.navigation-button {
    border: 2px solid #111;
    border-radius: 12px;
    background-color: transparent;
    background-position: 50%;
    color: #111;
    transition: all .6s;
    padding: 10px 28px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}
.navigation-button:hover {
    cursor: pointer;
    background: #f4f4f4;
}
.language-img {
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
.header-title-container {
    min-height: 660px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 24px;
    box-sizing: border-box;
}
.header {
    background-image: url("draX2Kcggc6PxIY3rn05OePStkgI4ZFFy4EPYnqU.png");
    background-position: 100% 100%;
    background-size: 750px;
    background-repeat: no-repeat;
    max-width: 1440px;
    width: 100%;
    margin: 48px auto 128px;
}
.header-container {
    min-height: 660px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 24px;
    box-sizing: border-box;
}
.header-title {
    font-size: 53px;
    font-weight: 600;
    line-height: 120%;
    max-width: 820px;
    margin-bottom: 65px;
}
.header-text {
    max-width: 516px;
    color: #6a6a6a;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 25px;
    margin-bottom: 45px;
}
.header-button {
    height: 48px;
    padding: 12px 28px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #da002b;
    background-position: 50%;
    color: #fff;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    font-family: inherit;
}
.header-button:hover {
    background-color: #c40027;
    background-image: radial-gradient(circle, transparent 1%, #da002b 0);
    background-position: 50%;
    background-size: 15000%;
}
.header-investors {
    display: inline-flex;
    align-items: start;
    grid-gap: 47px;
}
.header-investors-info {
    display: flex;
    flex-direction: column;
}
.header-investors-text {
    color: #c4c4c4;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}
.header-investors-number {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
}
.header-investors-img-container {
    display: flex;
    align-items: center;
}
.color-green {
    color: #12bf6c;
}
.container {
    max-width: 1220px;
    margin: auto;
}
.home_about {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 128px;
    padding: 0 24px;
}
.home_about_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 24px;
}
.home_img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.color-pink {
    color: #ff486c;
}
.heading-3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
}
.home-about__desc {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}
.button {
    max-width: fit-content;
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    height: 42px;
    border: none;
    cursor: pointer;
    background-color: #da002b;
    background-position: 50%;
    color: #fff;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
}
.button:hover {
    background-color: #c40027;
}
.builder__container-standart {
    max-width: 1440px;
    width: 100%;
    margin: 15px 39.6px;
    padding: 0  24px;
    box-sizing: border-box;
}
.home-advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.advantage-card {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    grid-gap: 16px;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}
.subtitle-2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}
.advantage-card__description {
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}
.home-advantages {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 128px;
    padding: 0 24px;
}
.service-header {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    max-width: 500px;
}
.subheading-3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}
.home-work__info {
    display: flex;
    flex-direction: column;
    grid-gap: 48px;
    justify-content: center;
}
.home-work__item {
    display: flex;
    grid-gap: 40px;
}
.service-header {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    max-width: 500px;
}
.home-work__items {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}
.home-work {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 128px;
    padding-left: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}
.subheading-2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}
.home-work__item-desc {
    color: #6a6a6a;
    margin-top: 12px;
}
.home-work__img img {
    width: 100%;
}
img {
    max-width: 100%;
}
.sviper-slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sviper-slide-img {
    width: 24px;
    height: 24px;
    background-color: #f2f2f2;
    border-radius: 100%;
    padding: 10px;
}
.sviper-slide {
    background-color:#ffffff;
    padding: 24px;
    border-radius: 12px;
    min-width: 400px;
}
.swiper-wrapper {
    gap: 15px;
    max-width: 100vw;
    overflow-x: scroll;
    cursor: pointer;
}
.swiper-wrapper::-webkit-scrollbar{
    display: none;
}
.sviper-slide-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sviper-slide-stars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sviper-slide-text {
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}
.home-ad {
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 32px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #da002b;
    padding: 0 100px;
}
.home-ad__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 36px;
}
.home-title{
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    line-height: 120%;
}
.home-ad__apps {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    max-width: 450px;
}
.home-ad__app img {
    box-sizing: border-box;
    height: 60px;
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 8px;
    padding: 10px 16px;
}
.home-ad__main {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px 128px;
}
.home-ad__img {
    box-sizing: border-box;
    height: 520px;
    display: flex;
}
.home-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: auto;
    max-width: fit-content;
}
.questions__item {
    margin-bottom: 30px;
}
.questions__question {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-gap: 18px;
    align-items: center;
    cursor: pointer;
}
.questions__icon {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #da002b;
    transition: all .3s;
}
.questions__icon img {
    transform: rotate(180deg);
}
.questions__answer {
    margin-top: 14px;
    padding-left: 60px;
}
.questions__answer:checked {
    display: none;
}
.questions {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 32px;
    column-gap: 32px;
}
.home-req__block {
    margin-top: 40px;
}
.home-req {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 128px;
    padding: 0 24px;
    box-sizing: border-box;
}
.heading-4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}
.l {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 64px auto 0;
}
.footer-block__info[data-v-16ef516a] {
    padding: 40px 24px;
    grid-template-columns: 3fr 1fr;
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f2f2f2;
}
.footer-block__text {
    color: #c4c4c4;
    display: grid;
    grid-template-columns: .7fr 1fr;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
}
.footer-block__text {
    cursor: pointer;
}
.paragraph-2[data-v-16ef516a] {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

